NODE_ENV="development"
SERVER_ENV="development"
DATABASE_URL="postgresql://guildkit:guildkit@localhost:5432/guildkit"
# Base URL of the app
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="REPLACE_ME_ON_PRODUCTION"

STORAGE_ENDPOINT="localhost"
STORAGE_PORT=9000
# STORAGE_REGION= # Only required for AWS S3. Not required on local server.
# STORAGE_AVAILABILITY_ZONE=
STORAGE_BUCKET="guildkit"
STORAGE_ACCESS_KEY="S3_DUMMY_ACCESS_KEY"
STORAGE_SECRET_KEY="S3_DUMMY_SECRET_KEY"

GOOGLE_CLIENT_ID="REPLACE_ME_ON_PRODUCTION"
GOOGLE_CLIENT_SECRET="REPLACE_ME_ON_PRODUCTION"
GITHUB_CLIENT_ID="REPLACE_ME_ON_PRODUCTION"
GITHUB_CLIENT_SECRET="REPLACE_ME_ON_PRODUCTION"
